<b>F.A.Q. (Frequently Asked Questions)</b>

<b>Q: Come utilizzo i coupon?</b>
<i>A: Una volta generato il coupon, dovrete fare lo scan del QR al totem, mettendo il telefono a 45° rispetto al lettore.</i>

<b>Q: Posso pagare alla cassa?</b>
<i>A: In teoria sì, ma per non avere problemi si consiglia di pagare direttamente al totem.</i>

<b>Q: Quanto durano i coupon generati?</b>
<i>A: I coupon durano circa un mese.</i>

<b>Q: Quando escono le nuove offerte?</b>
<i>A: Le offerte si aggiornano ogni mese circa.</i>

---

Per maggiori informazioni contattare <a href="tg://user?id={id}">@{name}</a>